.ui-button-text-only .ui-button-text {
    padding: .01em 0.5em;
}
h1 {
    font-size: 15pt; text-align:center;
    text-shadow: 5px 5px 5px #aaa;
}

.ftitle {
    float: left;
    clear: left;
}
.ffield {
    float: right;
    clear: right;
}