.completed {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: line-through;
}
.active {
    
}

.task {
    font-size: 13pt;
    text-shadow: gray 0.1em 0.1em 0.2em;
    color: black;
    border-bottom: 1px solid #AAAAAA;
}

#tellfriends {
    font-size: 10pt;
    color: black;
    text-decoration: none;
}

#tellfriends:active {
    font-size: 10pt;
    text-decoration: none;
}

#tellfriends:hover {
    font-size: 10pt;
    text-decoration: underline;
}

#tasks {
    font-size: 11pt;
    width: 160px;
}

.show {
    display: inline;
}

body {
    background-color: #F3F3F3;
}
.panel {
    background-color: white;
    border:  1px solid #555;
    background-color: white;
    box-shadow: 5px 5px 5px #CCC;
    border-radius: 5px;
    padding: 5px;
    margin:  10px;
}