.completed {
    background-image: -webkit-linear-gradient(left, white, green);
}
.active {
    background-image: -webkit-linear-gradient(left, white, yellow);
}

#tellfriends {
    font-size: 10pt;
}

#tasks {
    font-size: 11pt;
}