<html>
    <head>
        <script language="JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src='../js/config.js'></script>
        <script src='../js/default.js'></script>

    </head>
    <body>
        Description:<input id="descr"><br>
        <input id="addPage" type="button" value="Add page"><br>
        <input type="button" value="Open quest" onclick="openQuest('http://oni.dyndns.org:8080/master/open-quest' );">
        <script id="task-template" type="text/html">
            <tr>
                <td>Url: {url}</td>
                <td>Descr: {descr}</td>
            </tr>
        </script>
        <div>Quest status: <span id="qstatus"></span></div>
        <div>Quest hash: <input id="qhash" size="40"></div>
        <table id="tasks">
            
        </table>

    </body>
</html>