<html>
    <head>
        <script language="JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script language="JavaScript" src="../lib/jquery.dataTables.min.js"></script>
        <script src='../js/config.js'></script>
        <link rel="stylesheet" type="text/css" href="../styles/sunny/jquery-ui-1.8.16.custom.css" />
        <link rel="stylesheet" type="text/css" href="../styles/style.css" />
        <script src='../lib/jquery-ui-1.8.16.custom.min.js'></script>

    </head>
    <script>
        var bg = chrome.extension.getBackgroundPage();
        var msg = chrome.i18n.getMessage;

        function error(msg) {
            $("#loading").hide();
            $("#quests_panel").hide();
            $("#err").html(msg).show();
        }
        function joinQuest(hash) {
            $.get(service("player/join-quest"),{nick: config.nick, q: hash})
            .done(function(data) {
                if (data.ok) {
                    bg.updateState(States.JOINED);
                    window.location = bg.getView();
                } else error(data.message||msg("smth"));
            })
            .fail(function(err) {
                error(msg) ;
            });
        }
        var rowFormatter = function( nRow, aData, iDisplayIndex) {
            var button = $("<span>"+msg("join")+"</span>").button().click(function(){ return function() {
                joinQuest(aData['hash']);
            } }());
            $('td:eq(1)', nRow).html('').append(button);
            return nRow;
        }
        $(document).ready(function() {
            loadConfig();
            var questsRequest = $.getJSON(service("get-quests"));

            questsRequest.success(function(data) {
                console.log(data);
                $("#loading").hide();
                $("#quests_panel").show();
                $('#quests').dataTable({
                    "bProcessing": false,
                    "bJQueryUI" : true,
                    "bLengthChange" : false,
                    "aaData" : data.aaData,
                    "iDisplayLength": 7,
                    "fnRowCallback": rowFormatter,
                    "aoColumns": [
                        { "mDataProp": "name" },
                        { "mDataProp": null }
                    ],
                    "oLanguage": { "sUrl": bg.dataGridLocale() }
                });
            });
            questsRequest.error(function(err) {
                error(msg("noSrv"));
            });

            $("#createQuest").click(function() {
                bg.updateState(States.CREATING);
                window.location = bg.getView();
            })


            $("h1").html(msg("extName"));
            $("#loading").html(msg("loading"));
            $("#qn").html(msg("questname"));
            $("#createQuest").html(msg("createQuest")+" &rarr;");

            $("button").button();
        });
    </script>
    <body style="width:600px; height:300px;">
    	<h1>[Chrome WebQuest]</h1>
        <div id="loading">Loading quests data...</div>
        <div id="quests_panel" style="display: none">
            <table id="quests" style="width: 600px" class="datagrid">
                <thead><tr><th id="qn">Quest Name</th><th></th></tr></thead>
                <tbody></tbody>
            </table>
            <button id="createQuest">Create quest &rarr;</button>
        </div>
        <div id="err" style="width:500px;color: red; display: none">

        </div>
    </body>
</html>