<html>
    <head>
        <script language="JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src='../js/config.js'></script>
        <script src='../js/default.js'></script>
        <link rel="stylesheet" type="text/css" href="../css/core.css" />
    </head>
    <body style="background:#F3F3F3;">
    	<p style="font-size:15pt; text-align:center;">Chrome WebQuest</p>
        <input type="text" id="hash" size="40">
        <button id="joinQuest">Join quest</button>  <a id="createQuest" href="#" style="font-size:10pt;">Create quest</a>
    </body>
</html>