<html>
    <head>
        <script language="JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src='../js/config.js'></script>
        <script src='../js/joined.js'></script>
        <link rel="stylesheet" type="text/css" href="../css/core.css" />

    </head>
    <body onload="return listTasks();">
        <script id="task-template" type="text/html">
            <tr>
                <td class="{taskStatus}">{descr}</td>
            </tr>
        </script>
        <div>Quest status: <span id="qstatus"></span></div>
        <div>Quest hash: <span id="qhash"></span></div>
        <table id="tasks">
            
        </table>

    </body>
</html>