<html>
    <head>
        <script language="JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src='../js/config.js'></script>
        <script src='../js/joined.js'></script>
        <link rel="stylesheet" type="text/css" href="../css/core.css" />
        <script id="task-list-template" type="text/html">
            <tr>
                <td class="{taskStatus} task">{descr}</td>
            </tr>
        </script>
    </head>
    <body>
        
        <!-- div>Quest status: <span id="qstatus"></span></div -->
        <a id="tellfriends" href="#">tell friends</a>
        <table id="tasks">
            
        </table>
    </body>
</html>