<!DOCTYPE html>
<html>
<head>
        <script language="JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src='../js/config.js'></script>
        <script src='../lib/jquery-ui-1.8.16.custom.min.js'></script>
        <script src='../lib/jquery-ui.uiforms.js'></script>
        <script src='../lib/parseuri.js'></script>
        <script language="JavaScript" src="../lib/jquery.dataTables.min.js"></script>

        <link rel="stylesheet" type="text/css" href="../styles/sunny/jquery-ui-1.8.16.custom.css" />
        <link rel="stylesheet" type="text/css" href="../styles/style.css" />
<script language="JavaScript">
$(function() {
    var tasksTbl, pageUrl;

    loadConfig();
    var msg = chrome.i18n.getMessage;

    var bg = chrome.extension.getBackgroundPage();
    
//    $("#hash").html("h="+bg.masterQuest.hash);

    $("h1").html(msg("extName")+" : "+msg("addTasksTitle"));
    $("#cancelcreation").html("&larr; "+msg("cancelQuest"));
    $("#next").html(msg("open")+" &rarr;");
    $("#msg_txt").html(msg("loading"));
    $("#startover").html(msg("startover"));
    $("#legAdd").html(msg("addnewtask"));
    $("#tadd").html(msg("addnewtask")+" &darr;");

    $("#legEx").html(msg("existTasks"));

    $("#hTask").html(msg("task"));
    $("#hDescr").html(msg("descr"));
    $("#descr").html(msg("descr"));


    function error(msg) {
        $("#msg_txt").html(msg);
        $("#msg").show();
        $("#cont").hide();
    }

     var rowFormatter = function( nRow, aData, iDisplayIndex) {
            var button = $("<span>&otimes; Delete</span>").button().click(function(){ return function() {
                $.get(service("master/del-task"), { url: aData['url']})
                .success(function(data) {
                    if (data.ok) return updateStatus();
                    alert(data.message||"Something bad happen");
                }).error(function(err) {
                    alert(err);
                });
            } }());
            $('td:eq(2)', nRow).html('').append(button);
            return nRow;
     }

    function updateStatus() {
        $.get(service("master/quest-status"))
        .success(function(data) {
            console.log(data);
            if (!data.ok) return error(data.message);
            var quest = data.quest;
            $("#qstatus").html(quest.status);

            tasksTbl.fnClearTable();
            console.log(quest.tasks);
            tasksTbl.fnAddData(quest.tasks);
            tasksTbl.fnAdjustColumnSizing();
            $("#msg").hide();
            $("#cont").show();
        })
        .error(function(err) {
            error(err);
        });
    }
    tasksTbl = $('#tasks').dataTable({
        "bProcessing": false,
        "bJQueryUI" : true,
        "bLengthChange" : false,
        //"aaData" : data.aaData,
        "iDisplayLength": 5,
        "aoColumns": [
            { "mDataProp": "url" },
            { "mDataProp": "descr" },
            { "mDataProp": null }
        ],
        "oLanguage": { "sUrl": bg.dataGridLocale() },
        "fnRowCallback": rowFormatter
    });

    updateStatus();

    function stripUrl() {
        var val = $(":radio[name=ttype]").filter(":checked").val();
        var r = pageUrl;
        var parts = parseUri(r);
        switch(val) {
            case "domain": r = parts['host'];break;
            case "nopar": r = parts['protocol']+"://"+parts['host']+parts['port']+parts['path'];
        }
        $("#turl").val(r);
    }
    $("input[type=radio]").click(stripUrl);

    /* get URL of a current page */
    chrome.tabs.getSelected(null, function (tab) {
        pageUrl = tab.url;
        $("#turl").val(pageUrl);
    });

    $("#tadd").click(function() {
       $("#taddMsg").html("Adding...");
       $.post(service("master/add-task"),
               { url: $("#turl").val(), descr: $("#tdescr").val(), type: $(":radio[name=ttype]").filter(":checked").val() }
       ).success(function(data) {
            if (!data.ok) return $("#taddMsg").html(data.message||"Something bad happed");
            $("#taddMsg").html("Page added");
            updateStatus();
        })
       .fail(function(err) { $("#taddMsg").html("Error:"+err); });
    });

    $("#next").click(function() {
       $.get(service("master/open-quest"))
       .done(function(data) {
         if (data.ok) {
            bg.updateState(States.OPENED);
            window.location = bg.getView();
         } else
            alert(data.message||"Some error happen");
       }).fail(function(err) {
         alert(err);
       });
    });

    $("#cancelcreation").click(function() {
        $.get(service("master/delete-quest"))
        .done(function(data) {
          if (data.ok) {
             bg.updateState(States.NONE);
             window.location = bg.getView();
          } else
             alert(data.message||"Some error happen");
        }).fail(function(err) {
          alert(err);
        });
    });

    $("#startover").click(function() {
        bg.updateState(States.NONE);
        window.location = bg.getView();
    });


    $("#txtFull").html(msg("typeFull"));
    $("#txtNoPar").html(msg("typeNoPar"));
    $("#txtDomain").html(msg("typeDomain"));

    $(document).uiforms();
    $("button").button();
});
</script>
</head>
<body style="width: 600px; height: 200px">
    <span style="float: left">
        <button id= "cancelcreation">&larr; Cancel</button>
        <button id= "next">Open &rarr;</button>
    </span>
    <h1>
           ChromeQuest: Add tasks
    </h1>
    <div id="msg" >
        <div id="msg_txt">loading...</div>
        <button id="startover">Start over</button>
    </div>
    <div id="cont" style="display: none">
        <fieldset  style="text-align:right;">
            <legend id="legAdd">Add new task</legend>
            Url <input type="text" id="turl" size="80"/> <br />
            <input type="radio" value="full" name="ttype" checked> <span id="txtFull">Full Url</span>
            <input type="radio" value="nopar" name="ttype"> <span id="txtNopar">No params</span>
            <input type="radio" value="domain" name="ttype"> <span id="txtDomain">Domain only</span>

            <br />
            <span id="descr"></span> <input type="text" id="tdescr" size="60"/> <br />
            <span id='taddMsg'></span><button id="tadd">Add task &darr;</button>

        </fieldset>
        <br />
        <fieldset>
        <legend id="legEx">Existent tasks</legend>
        <table id="tasks" style="width: 400px" class="datagrid">
                <thead><tr><th id="hTask">Task</th><th id="hDescr">Descr</th><th></th></tr></thead>
                <tbody></tbody>
        </table>
        </fieldset>
    </div>
<div id="hash">hash</div>
</body>
</html>