<!DOCTYPE html>
<html>
<head>
        <script language="JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src='../js/config.js'></script>
        <script src='../lib/jquery-ui-1.8.16.custom.min.js'></script>
        <script src='../lib/jquery-ui.uiforms.js'></script>
        <script language="JavaScript" src="../lib/jquery.dataTables.min.js"></script>

        <link rel="stylesheet" type="text/css" href="../styles/sunny/jquery-ui-1.8.16.custom.css" />
        <link rel="stylesheet" type="text/css" href="../styles/style.css" />
<script language="JavaScript">
$(function() {
    loadConfig();
    var playersTbl;
    var bg = chrome.extension.getBackgroundPage();
    var msg = chrome.i18n.getMessage;
    function updateTitle() {
        $("h1").html(msg("extName")+" : "+
                (bg.state == States.STARTED?
                msg("watchTitle"):
                msg("invitePlayersTitle")));
    }
    updateTitle();

    $("#cancelcreation").html("&larr; "+msg("cancelQuest"));
    $("#start").html(msg("start")+" &rarr;");
    $("#finish").html(msg("finish")+" !");
    $("#thPlayer").html(msg("playersNick"));
    $("#startover").html(msg("startover"));


    function error(msg) {
        $("#msg_txt").html(msg);
        $("#msg").show();
        $("#cont").hide();
    }
    var quest;

    var rowFormatter = function( nRow, aData, iDisplayIndex) {
            if (bg.state==States.OPENED) {
            var button = $("<span>&otimes; "+msg("kick")+"</span>").button().click(function(){ return function() {
                $.get(service("master/kick-player"), { nick: aData['nick']})
                .success(function(data) {
                    if (data.ok) return updatePlayers();
                    error(data.message||msg("badError"));
                }).error(function(err) {
                    error(err);
                });
            }}());
            $('td:eq(1)', nRow).html('').append(button);
            } else {
                $('td:eq(1)', nRow).html(aData['completed']+ '/'+quest.tasks.length);
            }
            return nRow;
     }

    function updatePlayers() {
        $.get(service("master/quest-status"))
        .success(function(data) {
            //console.log(data);
            if (!data.ok) return error(data.message);
            quest = data.quest;
            playerTbl.fnClearTable();
            playerTbl.fnAddData(data.quest.players);
            playerTbl.fnAdjustColumnSizing();
            $("#msg").hide();
            $("#cont").show();
            $("#qinfo").html(msg("totalTasks",[quest.tasks.length]));
        })
        .error(function(err) {
            error(msg("error")+JSON.stringify(err));
        });
    }
    updatePlayers();
    setInterval(updatePlayers,1000);

    playerTbl = $('#players').dataTable({
        "bProcessing": false,
        "bJQueryUI" : true,
        "bLengthChange" : false,
        "iDisplayLength": 5,
        "aoColumns": [
            { "mDataProp": "nick",sWidth: '400px' },
            { "mDataProp": null }
        ],
        "oLanguage": { "sUrl": bg.dataGridLocale() },
        "fnRowCallback": rowFormatter
    });

    $("#cancelcreation").click(function() {
        $.get(service("master/delete-quest"))
        .done(function(data) {
          if (data.ok) {
             bg.updateState(States.NONE);
             window.location = bg.getView();
          } else
             alert(data.message||msg("badError"));
        }).fail(function(err) {
          alert(err);
        });
    });

    $("#startover").click(function() {
        bg.updateState(States.NONE);
        window.location = bg.getView();
    });

    $("#start").click(function() {
        $.get(service("master/start-quest"))
        .done(function(data) {
          if (data.ok) {
             bg.state = States.STARTED;
//             window.location = bg.getView();
             updateTitle();
             $("#start").hide();
             $("#finish").show();
          } else
             alert(data.message||msg("badError"));
        }).fail(function(err) {
          alert(err);
        });

    });

    $("#finish").click(function() {
        $.get(service("master/finish-quest"))
        .done(function(data) {
          if (data.ok) {
             bg.updateState(States.RESULT);
             window.location = bg.getView();
          } else
             alert(data.message||msg("badError"));
        }).fail(function(err) {
          alert(msg("error")+JSON.stringify(err));
        });
    });

    if (bg.state == States.STARTED) {
        $("#start").hide();
        $("#finish").show();
    }


    $("button").button();
});
</script>
</head>
<body style="width: 600px;">
    <span style="float: left">
        <button id="cancelcreation">&larr; Cancel</button>
        <button id="start">Start &rarr;</button>
        <button id="finish" style="display: none" >Finish !</button>
    </span>
    <h1>
           ChromeQuest: Invite players
    </h1>
    <div id="cont">
    <table id="players" class="datagrid">
        <thead><tr><th id="thPlayer">Player's nick</th><th></th></tr></thead>
    </table>
        <div id="qinfo">...</div>
    </div>
    <div id="msg" style="display: none">
        <div id="msg_txt"></div>
        <button id="startover">Start over</button>
    </div>
</body>
</html>