<html>
    <head>
        <script language="JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src='../js/config.js'></script>
        <script src='../lib/jquery-ui-1.8.16.custom.min.js'></script>
        <script src='../lib/jquery-ui.uiforms.js'></script>

        <link rel="stylesheet" type="text/css" href="../styles/sunny/jquery-ui-1.8.16.custom.css" />
        <link rel="stylesheet" type="text/css" href="../styles/style.css" />


<script language="JavaScript">
$(function() {
    loadConfig();

    var msg = chrome.i18n.getMessage;
    var bg = chrome.extension.getBackgroundPage();


    $("#cancelcreation").click(function() {
      var bg = chrome.extension.getBackgroundPage();
      bg.updateState(States.NONE);
      window.location = bg.getView();
    });
    $("#start").click(function(event) {
        event.preventDefault();
        $('#start').attr('disabled', 'disabled');
        $("#msg").html(msg("starting"));

        $.get(service("master/create-quest"),
                {
                    master:config.nick,
                    name: $("#name").val(),
                    descr: $("#descr").val(),
                    isopen: $("#qopen").is(":checked"),
                    autofinish: $("#qfinish").is(":checked")
                })
          .success(function(data) {
            if (data.ok) {
                bg.startMasterQuest(data.questhash);
                bg.updateState(States.CREATED);
                window.location = bg.getView();
            } else {
                $("#msg").html(data.message||"Unknown error").show();
                $('#start').removeAttr('disabled');
            }
          })
          .error(function(err) {
            $("#msg").html("Server says 'NO!', "+JSON.stringify(err)).show();
            $('#start').removeAttr('disabled');
          });
    })


    $("h1").html(msg("extName")+" : "+msg("nameQuestTitle"));
    $("#cancelcreation").html("&larr; "+msg("cancelQuest"));
    $("legend").html(msg("creatingquest"));
    $("#qn").html(msg("questname"));
    $("#qd").html(msg("questdescr"));
    $("#start").html(msg("startq")+" &rarr;");

    $(document).uiforms();
    $("button").button();

});
</script>
    </head>
    <body style="width: 400px; height: 200px">
    <span style="float: left">
        <button id= "cancelcreation">&larr; Cancel Quest</button>
    </span>
    <h1>
           ChromeQuest: Name your quest
    </h1>
    <div style="clear:both">
        <form>
            <fieldset style="text-align:right;">
                <legend>Creating new quest</legend>

                <span id="qn">Quest name</span> <input type="text" id="name" /><br />
                <!--<span id="qd">Description</span> <input type="text" id="descr" /><br />-->
                <input type="checkbox" id="qopen" checked /><label for="qopen" id="qopenTxt">Allow join after start</label> <br />
                <input type="checkbox" id="qfinish" checked /><label for="qfinish" id="qfinishTxt">Automatically finish</label>
                <br />

                <span id="msg" style="display: none;">...</span><button id="start" >Start quest</button>

            </fieldset>
        </form>
    </div>
</body>
</html>