<!DOCTYPE html>
<html>
<head>
        <script language="JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src='../js/config.js'></script>
        <script src='../lib/jquery-ui-1.8.16.custom.min.js'></script>
        <script src='../lib/jquery-ui.uiforms.js'></script>
        <script language="JavaScript" src="../lib/jquery.dataTables.min.js"></script>

        <link rel="stylesheet" type="text/css" href="../styles/sunny/jquery-ui-1.8.16.custom.css" />
        <link rel="stylesheet" type="text/css" href="../styles/style.css" />
        <title>ChromeQuest: Joining</title>
<script language="JavaScript">
$(function() {
    loadConfig();
    var playersTbl;
    var bg = chrome.extension.getBackgroundPage();

    var msg = chrome.i18n.getMessage;

    function error(msg) {
        $("#msg_txt").html(msg);
        $("#msg").show();
        $("#cont").hide();
    }

    function updateTasks() {
        $.get(service("player/quest-tasks"))
        .success(function(data) {
            console.log(data);
            if (!data.ok) {
                if (data.status == "finished") {
                    bg.updateState(States.RESULT);
                    window.location = bg.getView();
                } else
                    return error(data.message);
            }
            if (!bg.quest)
                bg.startQuest(data.tasks);
            playerTbl.fnClearTable();
            playerTbl.fnAddData(data.tasks);
            $("#msg").hide();
            $("#cont").show();
            playerTbl.fnAdjustColumnSizing();
        })
        .error(function(err) {
            error("Error: "+JSON.stringify(err));
        });
    }

    playerTbl = $('#tasks').dataTable({
        "bProcessing": false,
        "bJQueryUI" : true,
        "bFilter" : false,
        "bLengthChange" : false,
        "iDisplayLength": 5,
        "bAutoWidth": false,
/*
        "aoColumns": [
            { "mDataProp": "descr",sWidth: '800px'}
        ],*/
        "aoColumnDefs" : [
            {
                "fnRender": function(t) {

                    return "<span class='t"+t.aData.taskStatus+"'>" + t.aData.descr +"</span>";
                },
                "sWidth": "600px",
                "aTargets": [0]
            }
        ]
    });
    updateTasks();

    $("#cancelwaiting").click(function(){
        $.get(service("player/quit-quest"))
        .done(function(data) {
          if (data.ok) {
             bg.stopQuest();
             bg.updateState(States.NONE);
             window.location = bg.getView();
          } else
             error(data.message||"Some error happen");
        }).fail(function(err) {
          error(JSON.stringify(err));
        });
    });

    $("#startover").click(function() {
        bg.stopQuest();
        bg.updateState(States.NONE);
        window.location = bg.getView();
    });


    $("button").button();
});
</script>

</head>
<body style="width: 600px;">
    <span style="float: left">
        <button id= "cancelwaiting">&larr; Cancel</button>
    </span>
    <h1>
           ChromeQuest: Running
    </h1>
    <div id="cont" style="display: none">
    <table id="tasks" class="datagrid">
        <thead><tr><th width="100%">Task description</th></tr></thead>
    </table>
    </div>
    <div id="msg">
        <div id="msg_txt">Loading...</div>
        <button id="startover">Start over</button>
    </div>
</body>
</html>